.idea
.DS_Store
.wakatime-project

# Composer Vendor Directory
/vendor

# Environment Variables
.env
/config/env/*
!/config/env/.env.example

# Session Storage
/storage/polyel/sessions/*
!/storage/polyel/sessions/.gitkeep

# The PHP Polyel debug file
/debug.php